@use '/src/styles/_button' as but;

.base {
  label {
    display: block;
  }

  label:nth-of-type(2) {
    margin-top: 30px;
  }

  input[type='submit'] {
    @include but.submit_button;
    letter-spacing: 0.5rem;
  }
  input[type='submit']:hover {
    @include but.submit_button_hover;
  }
}
