@use '/src/styles/variables' as var;

.base {
  form {
    label:not(label:first-of-type) {
      margin-top: 50px;
    }
    label {
      display: block;
      span {
        padding: 1px 0;
      }
      span:nth-of-type(2) {
        color: var.$main-color;
        border-bottom: var.$border-accent;
        font-size: var.$font-size-md;
      }
    }
    input[type='submit'] {
      width: auto;
      margin-top: 50px;
      border: var.$border-main;
      border-style: groove;
      padding: 10px;
      box-shadow: 0 2px 0 var.$main-color; /* 影の太さ・色 */
    }
    input[type='submit']:hover {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}
