@use '/src/styles/_variables' as var;

$speed: 2.5s;

.base {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  div {
    position: absolute;
    border: 1px solid var.$main-color;
    background-color: var.$main-color;
  }
}
